<br>
<br>
<br>

<div class="jumbotron" style="background:transparent !important">
    <h1 class="display-5">Notifications</h1><br>
    <p class="lead">See which companies are willing to consume you data.</p>
    <hr class="my-4">

    <section>
        <figure>
            <img src="../../../assets/notifications.svg" width="290px" height="290px">
        </figure>
    
        <div class="texts">
            <p>Oops! there are no consumer notifications at this time, as soon as something arrives I will let you know!</p>
          
        </div>
    </section>
    
  </div>




