<br>


<div class="jumbotron" style="background:transparent !important">
    <h1 class="display-5">Notifications</h1><br>
    <p class="lead">See which companies are willing to consume you data.</p>
    <hr class="my-4">
 

        <section>
        <figure style="text-align: center;">
            <img src="../../../assets/notifications.svg" width="290px" height="290px">
        </figure>
    </section>
    <div class="table-responsive">

        <p class="lead">There are requests for approval to view your information.</p>
        <br>
                <table class="table table-hover" style="text-align: center;">
                    <thead class="table-primary">
                      <tr>
                        <th scope="col">Name input</th>
                        <th scope="col">Information</th>
                        <th scope="col">Requesting company</th>
                        <th scope="col">Actions</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>Name</td>
                        <td>Danilo Falco</td>
                        <td>Binance</td>
                        <td><button type="submit" class="btn btn btn-success" (click)="open(approvemodal)">Approve</button>&nbsp;<button type="submit" class="btn btn btn-danger" (click)="open(declinemodal)">Decline</button></td>
                      </tr>
                     
                    </tbody>
                  </table>
                </div>
                <hr class="my-4">
                <ng-template #approvemodal let-modal>
                    <div class="modal-header">
                      <h4 class="modal-title" id="modal-basic-title">Approval of information</h4>
                      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                        <span aria-hidden="true">×</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <form>
                          <div class="form-group">
                            <label for="approvalinput">Approval access to field</label>
                            <input type="text" class="form-control" id="approvalinput" placeholder="Enter word CONFIRM">
                            <small id="approvalhelp" class="form-text text-muted">Please enter the word CONFIRM to activate the action.</small>
                          </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-success" (click)="modal.close('Save click')">Approve</button>
                    </div>
                  </ng-template>
                  
                  <ng-template #declinemodal let-modal>
                    <div class="modal-header">
                      <h4 class="modal-title" id="modal-basic-title">Decline of information</h4>
                      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                        <span aria-hidden="true">×</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <form>
                          <div class="form-group">
                            <label for="declineinput">Decline access to field</label>
                            <input type="text" class="form-control" id="declineinput" placeholder="Enter word DECLINE">
                            <small id="declinehelp" class="form-text text-muted">Please enter the word DECLINE to activate the action.</small>
                          </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-danger" (click)="modal.close('Save click')">Decline</button>
                    </div>
                  </ng-template>
    
  </div>




