// Z index variables
$zindex-sidenav: 1080 !default;
$zindex-topnav: 1090 !default;

// Color variables for the sidenav

// -- Sidenav Dark
$sidenav-dark-bg: #025998;
$sidenav-dark-color: #ffffff;
$sidenav-dark-heading-color: #ffffff -500;
$sidenav-dark-link-color: #f6f7f8;
$sidenav-dark-link-active-color: #19bad2;
$sidenav-dark-icon-color: #e5c700;
$sidenav-dark-footer-bg:#025998;

// -- Sidenav Light
$sidenav-light-bg: #025998;
$sidenav-light-color: #ffffff;
$sidenav-light-heading-color: $gray-500;
$sidenav-light-link-color: $sidenav-light-color;
$sidenav-light-link-active-color: $primary;
$sidenav-light-icon-color: $gray-500;
$sidenav-light-footer-bg: #025998;

// Color variables for the topnav
$topnav-dark-toggler-color: $white;
$topnav-light-toggler-color: $gray-900;
