<div class="jumbotron" style="background:transparent !important">
  <figure>
    <img src="../../../assets/security.svg" width="290px" height="290px">
</figure> 
  <h1 class="display-5">Secret Backup Phrase</h1><br>
    <p class="lead">Your secret backup phrase makes it easy restore your account. Never disclose your backup phrase. Anyone with this phrase can takes your Ether forever.</p>
    <hr class="my-4">
    <form>
        <div class="form-group">
          <label for="secretphrase">Secret Phrase</label>
          <textarea class="form-control" style="font-size:24px;" id="secretphrase" rows="1" placeholder="useless quantum pear dash rather patrol cricket lobster raccoon chaos broken trick"></textarea>
           
          <label for="privatekey">Private Key</label>
          <textarea class="form-control" id="privatekey" style="font-size:24px;" rows="1" placeholder="57C16BE303B41405E6FA265C6F510E7C821DD08D6B70FA948EA8F8D45A632F54"></textarea>
        </div>
      </form>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="#" role="button">Download Private Key</a>
    </p>
   
  </div>

  




